<a href="https://colab.research.google.com/github/sorengod/MasterThesis/blob/main/Prepare_ABT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [238]:
import pandas as pd

In [239]:
Spot_Prices = pd.read_parquet("Spot_Prices.parq")
Import_Export = pd.read_parquet("ExportCapacity.parq")
Import_Capacity = pd.read_parquet("ImportCapacity.parq")
MeanWindPower1h_Anholdt = pd.read_pickle("MeanWindPower1h_Anholdt.pkl")
MeanWindPower1h_Blåvand = pd.read_pickle("MeanWindPower1h_Blåvand.pkl")
MeanWindPower1h_Gedser = pd.read_pickle("MeanWindPower1h_Gedser.pkl")
MeanWindPower1h_Køge = pd.read_pickle("MeanWindPower1h_Køge.pkl")
Production_Consumption_DK1 = pd.read_pickle("Production&Consumption_DK1.pkl")
Production_Consumption_DK2 = pd.read_pickle("Production&Consumption_DK2.pkl")
ScheduledExchangeDayAhead = pd.read_parquet("ScheduledExchangeDayAhead.parq")

# Prepare Import_Export

In [240]:
Import_Export = Import_Export.drop(['HourUTC', 'PhysicalExchangeNonvalidated', 'PhysicalExchangeSettlement', 
                                    'CongestionIncomeDKK', 'HomePriceDKK', 'ConnectedPriceDKK', 
                                    'CongestionIncomeEUR', 'HomePriceEUR', 'ConnectedPriceEUR'
                                    , 'ImportCapacity', 'ExportCapacity'], axis=1)

In [241]:
def prepare_Import_Export(Import_Export_df:pd.DataFrame, GridFlow:str): 
  converted_GridFlowStr = GridFlow.replace("-->", "_")
  df = Import_Export_df[Import_Export_df["GridFlow"].isin([f"{GridFlow}"])]
  df = df.rename(columns={"ScheduledExchangeDayAhead":f"ScheduledExchangeDayAhead_{converted_GridFlowStr}"})                                   
  df = df.drop(["GridFlow", "ScheduledExchangeIntraday"], axis=1)
  return df

In [242]:
Import_Export_DK1_DE = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK1-->DE")
Import_Export_DK1_DK2 = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK1-->DK2")
Import_Export_DK1_NO2 = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK1-->NO2")
Import_Export_DK1_SE3 = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK1-->SE3")
Import_Export_DK2_DE = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK2-->DE")
Import_Export_DK2_DK1 = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK2-->DK1")
Import_Export_DK2_SE4 = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK2-->SE4")
Import_Export_DK1_NL = prepare_Import_Export(Import_Export_df=Import_Export, GridFlow="DK1-->NL")

In [243]:
Import_Export_prepard = Import_Export_DK1_DK2.merge(Import_Export_DK1_DE, left_on='HourDK', right_on='HourDK', how='left')
Import_Export_prepard = Import_Export_prepard.merge(Import_Export_DK1_NO2, left_on='HourDK', right_on='HourDK', how='left')
Import_Export_prepard = Import_Export_prepard.merge(Import_Export_DK1_SE3, left_on='HourDK', right_on='HourDK', how='left')
Import_Export_prepard = Import_Export_prepard.merge(Import_Export_DK2_DE, left_on='HourDK', right_on='HourDK', how='left')
Import_Export_prepard = Import_Export_prepard.merge(Import_Export_DK2_SE4, left_on='HourDK', right_on='HourDK', how='left')
Import_Export_prepard = Import_Export_prepard.merge(Import_Export_DK1_NL, left_on='HourDK', right_on='HourDK', how='left')

Import_Export_prepared = Import_Export_prepard.round(2)

In [244]:
Import_Export_prepared

,HourDK,ScheduledExchangeDayAhead_DK1_DK2,ScheduledExchangeDayAhead_DK1_DE,ScheduledExchangeDayAhead_DK1_NO2,ScheduledExchangeDayAhead_DK1_SE3,ScheduledExchangeDayAhead_DK2_DE,ScheduledExchangeDayAhead_DK2_SE4,ScheduledExchangeDayAhead_DK1_NL
0,2018-01-01T00:00:00,-590.0,1500.0,-1532.0,-505.0,600.0,-676.3,NaN
1,2018-01-01T01:00:00,-537.8,1500.0,-1532.0,-475.0,600.0,-678.8,NaN
2,2018-01-01T02:00:00,-460.9,1500.0,-1532.0,-462.0,600.0,-714.1,NaN
3,2018-01-01T03:00:00,-533.5,1500.0,-1532.0,-441.0,600.0,-892.8,NaN
4,2018-01-01T04:00:00,-544.6,1500.0,-1532.0,-461.0,600.0,-993.6,NaN
...,...,...,...,...,...,...,...,...
44195,2022-12-31T19:00:00,600.0,2500.0,-1680.0,-715.0,783.0,-96.2,-637.5
44196,2022-12-31T20:00:00,600.0,2500.0,-1680.0,-715.0,794.0,-145.7,-313.3
44197,2022-12-31T21:00:00,558.1,2500.0,-1680.0,-715.0,832.0,-319.2,134.5
44198,2022-12-31T22:00:00,210.0,2500.0,-1680.0,-715.0,822.0,-697.1,589.5
44199,2022-12-31T23:00:00,285.2,2500.0,-1680.0,-715.0,746.0,-581.7,700.0

#Prepare Wind Data

In [245]:
MeanWindPower1h_Anholdt

def prepare_wind_data(MeanWindPower_df:pd.DataFrame, placement:str):
  location = str(placement)
  df = MeanWindPower_df
  df = df.drop(["created", "parameterId", "stationId"], axis=1)
  df = df.rename(columns={"value" : f"value_{location}"})
  return df

In [246]:
Wind_Anholdt = prepare_wind_data(MeanWindPower1h_Anholdt, "Anholdt")
Wind_Blåvand = prepare_wind_data(MeanWindPower1h_Blåvand, "Blåvand")
Wind_Gedser = prepare_wind_data(MeanWindPower1h_Gedser, "Gedser")
Wind_Køge = prepare_wind_data(MeanWindPower1h_Køge, "Køge")

In [247]:
wind_prepared = Wind_Gedser.merge(Wind_Anholdt, left_on="observed", right_on="observed", how='left')
wind_prepared = wind_prepared.merge(Wind_Blåvand, left_on="observed", right_on="observed", how='left')
wind_prepared = wind_prepared.merge(Wind_Køge, left_on="observed", right_on="observed",how='left')

In [271]:
wind_prepared['observed'] = pd.to_datetime(wind_prepared['observed'])
wind_prepared['observed'] = wind_prepared['observed'].dt.strftime('%Y-%m-%d %H:%M:%S')

#Prepare Production And Consumption

In [249]:
Production_Consumption_DK1.drop(columns=["HourUTC", "PriceArea", "ExchangeNO_MWh", "ExchangeSE_MWh", "ExchangeGE_MWh", "ExchangeNL_MWh", "ExchangeGreatBelt_MWh"], axis=1)

,HourDK,CentralPowerMWh,LocalPowerMWh,CommercialPowerMWh,LocalPowerSelfConMWh,OffshoreWindLt100MW_MWh,OffshoreWindGe100MW_MWh,OnshoreWindLt50kW_MWh,OnshoreWindGe50kW_MWh,HydroPowerMWh,SolarPowerLt10kW_MWh,SolarPowerGe10Lt40kW_MWh,SolarPowerGe40kW_MWh,SolarPowerSelfConMWh,UnknownProdMWh,GrossConsumptionMWh,GridLossTransmissionMWh,GridLossInterconnectorsMWh,GridLossDistributionMWh,PowerToHeatMWh
0,2018-01-01T00:00:00,386.399994,289.537872,NaN,0.000000,36.803116,550.828674,4.765194,1207.972900,2.388224,0.000000,0.000000,0.000000,0.0,NaN,1921.495972,107.000000,NaN,NaN,13.600000
1,2018-01-01T01:00:00,378.600006,289.874573,NaN,0.000000,32.188290,618.123474,4.679051,1180.811768,2.358323,0.000000,0.000000,0.000000,0.0,NaN,1855.935547,102.000000,NaN,NaN,6.100000
2,2018-01-01T02:00:00,273.000000,287.411285,NaN,0.000000,41.303905,457.525360,4.352269,1086.456177,2.339242,0.000000,0.000000,0.000000,0.0,NaN,1781.188110,95.000000,NaN,NaN,6.200000
3,2018-01-01T03:00:00,273.799988,292.975555,NaN,0.000000,36.807213,446.265137,4.837932,1120.898193,2.336510,0.000000,0.000000,0.000000,0.0,NaN,1729.220459,88.000000,NaN,NaN,6.100000
4,2018-01-01T04:00:00,266.600006,298.650299,NaN,0.000000,31.961790,545.379211,5.176403,1060.040894,2.335376,0.000000,0.000000,0.000000,0.0,NaN,1701.744019,93.000000,NaN,NaN,5.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2022-12-31T19:00:00,334.279846,125.526878,111.359947,5.462239,24.189018,0.167377,1.039596,329.734955,2.873119,0.060527,0.005658,0.040046,0.0,2.261073,2544.589355,76.115067,59.702999,99.282196,271.347321
43820,2022-12-31T20:00:00,317.033417,120.915375,96.055702,5.144194,14.455631,11.448534,0.775472,276.727692,2.875437,0.053430,0.003387,0.039400,0.0,1.749310,2535.815186,79.555344,58.215900,91.895676,418.912506
43821,2022-12-31T21:00:00,391.207977,98.906487,80.505554,4.934086,8.892149,25.376951,0.806276,239.038040,2.872020,0.045366,0.002745,0.034950,0.0,2.228706,2609.937012,93.029640,66.436401,91.071304,537.053589
43822,2022-12-31T22:00:00,282.433380,84.586220,78.247696,4.938828,7.391796,21.379612,0.954668,206.623779,2.870221,0.041949,0.001649,0.033459,0.0,0.560556,2586.725830,93.126106,74.745903,89.241066,579.157715
43823,2022-12-31T23:00:00,223.523422,83.126534,77.557869,5.201009,6.820766,46.739147,1.419728,294.478485,2.864817,0.040842,0.004952,0.033264,0.0,0.833994,2537.787598,93.342705,74.549301,92.293869,571.704346

#Prepare ABT

In [282]:
abt = Spot_Prices.merge(Import_Export_prepared, left_on="HourDK", right_on="HourDK", how='left')
abt = abt.merge(Production_Consumption_DK1, left_on="HourDK", right_on="HourDK", how='left')
abt['HourDK'] = pd.to_datetime(abt['HourDK'])
abt['HourDK'] = abt['HourDK'].dt.strftime('%Y-%m-%d %H:%M:%S')
abt = abt.merge(wind_prepared, left_on="HourDK", right_on="observed", how='left')

abt = abt.drop(columns="observed")

In [286]:
abt['HourDK'] =  pd.to_datetime(abt['HourDK'])
abt['month'] = abt['HourDK'].dt.month
abt['day'] = abt['HourDK'].dt.day
abt['hour'] = abt['HourDK'].dt.hour
abt = abt.drop(columns=["HourDK"])

In [288]:
abt.to_pickle("abt.pkl")

from google.colab import files
files.download('abt.pkl')